# Database
DATABASE_URL=postgresql://blogbowl:blogbowl@postgres:5432/blogbowl

# Domain where all blogs will be hosted under. E.g. example.com -> blog.example.com
PAGES_BASE_DOMAIN=localhost
FRONTEND_URL=http://localhost:3000

# S3 bucket - (optional, but recommended. Used for storing images of posts. If not specified we store it to disk.)
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_ENDPOINT=
S3_REGION=
S3_BUCKET=


# Postmark - (optional, used for sending newlsetters)
POSTMARK_ACCOUNT_TOKEN=
POSTMARK_X_API_KEY=

# SMTP - (used to send test emails, you can use Postmark for that as well)
SMPT_ADDRESS=
SMTP_PORT=
SMTP_DOMAIN=
SMTP_USER_NAME=
SMTP_PASSWORD=
SMTP_AUTHENTICATION=
SMTP_ENABLE_STARTTLS_AUTO=

# If you want to change port, default is 3000. You'd need to update docker compose as well.
PORT=3000

# Required in production. Generate with: bin/rails secret
SECRET_KEY_BASE=